.listing {
    width: 100%;
}

.listing__nav {
    display: inline-block;
}

.listing__nav-item {
    padding: 0.5px 4px;
    margin: 2px 0px;

    color: whitesmoke;
    background-color: rgb(119, 119, 119);
    font-weight: 600;

    border-radius: 4px;
}

.listing__nav .delete-auction {
    background-color: rgb(255, 100, 100);
    color: whitesmoke;;

    text-decoration: none;
}

.watchlist {
    background-color: #FFFFFF;
    color: rgb(119, 119, 119);

    border: 2px solid rgb(119, 119, 119);
}

.remove {
    background-color: rgb(119, 119, 119);
    color: whitesmoke;
}


.listing__image {
    width: 800px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listing__image img {
    max-height: 500px;
    max-width: 100%;

    margin: 5px;
}

/* bids form */

.listing__bids {
    width: 100%;

    margin: 20px 0px;
}

.listing__bid-author {
    font-size: 0.8rem;
}

div.listing__bids-bid {
    margin-top: 8px;
    margin-bottom: 15px;
}

input.listing__bids-bid {
    width: 100%;

    padding: 3px 8px;

    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
}

.listing__bids-submit {
    padding: 5px 10px;

    font-weight: 600;

    border-radius: 4px;

    background-color: #0D7BFF;
    color: whitesmoke;
}

/* auction closed */

.closed {
    margin: 4rem;

    font-size: 2rem;
    font-weight: 800;
}



/* Comments */

.comments__form {
    display: block;

    margin: 1rem;
}

.comments__form-submit {
    padding: 5px 10px;

    font-weight: 600;

    border-radius: 4px;

    background-color: #0D7BFF;
    color: whitesmoke;

    margin: 5px 10px;
}

.comments__length {
    font-size: 1.2rem;

    margin: 1rem;
}

.comments__ul {
    list-style: none;
}

.comments__ul li {
    margin-bottom: 1rem;
}

.comments__comment-author {
    font-weight: 700;
}

.comments__comment-comment { 
    padding: 1rem;

    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
}