html,
body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* =========================================================== */
/* nav */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 6px;
}

nav img {
    height: 20px;
}

/* =========================================================== */
/* main */

.page-title {
    position: relative;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}

.main_form-body {
    /* background-color: blue; */
    display: flex;
    margin: 20px;
    margin-right: 20px;
}

.first-body-text > div {
    display: inline-block;
}

.first-forms-body > div {
    margin-top: 15px;
}

.first-body-right-text {
    position: absolute;
    margin-right: 20px;
    right: 283px;
}

label {
    margin-left: 6px;
}

.filter-tag {
    width: 250px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.box {
    width: 500px;
}

.box:focus {
    border: 3px solid blue;
}

.example-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.example {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: rgb(94, 94, 94);
}

#submit-button {
    position: absolute;
    left: 664px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(46, 46, 253);
    border: 1px solid blue;
    border-radius: 5px;
    color: aliceblue;
}

#submit-button:hover {
    background-color: blue;
}
