{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <!-- Title -->
        <div class="form-group">
            <input required class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <!-- Description -->
        <div class="form-group">
            <textarea required class="form-control" name="description" placeholder="Description"></textarea>
        </div>
        <!-- Start Bid -->
        <div class="form-group">
            <input required class="form-control" type="text" name="start_bid" placeholder="Start Bid">
        </div>
        <!-- Image Url -->
        <div class="form-group">
            <input class="form-control" type="text" name="image_url" placeholder="Image URL">
        </div>
        <!-- Category -->
        <div class="form-group">
            <select class="form-control" name="category">
                <!-- <option value="">No Category</option> -->
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select> 
        </div>
        <!-- Submit -->
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>

{% endblock %}