{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if user.is_authenticated %}

        <ul class="index__listings">
            {% for listing in listings %}
                <li class="index__listing">
                        <div class="index__image">
                            <a href="{% url 'listing' listing_id=listing.id %}">
                                <img src="{{ listing.image_url }}" alt="listing image">
                            </a>
                        </div>
                        <div class="index__details">
                            <ul class="index__listing-details">
                                <li class="title">
                                    <a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>
                                </li>
                                <li class="price">Price: ${{ listing.start_bid|floatformat:'2' }}</li>
                                <li class="creation">Created {{ listing.creation }}</li>
                            </ul>
                        </div>
                </li>
            {% endfor %}
        </ul>

    {% else %}

        Sign in to see Listings

    {% endif %}
{% endblock %}