{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if user.is_authenticated %}

        <ul class="index__listings">
            {% for listing in listings %}
                <li class="index__listing">
                        <div class="index__image"><img src="{{ listing.image_url }}" alt="listing image"></div>
                        <div class="index__details">
                            <ul class="index__listing-details">
                                <li class="title">{{ listing.title }}</li>
                                <li class="price">Price: ${{ listing.start_bid }}</li>
                                <li class="creation">Created {{ listing.creation }}</li>
                            </ul>
                        </div>
                </li>
            {% endfor %}
        </ul>

    {% else %}

        TODO

    {% endif %}
{% endblock %}