{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}

        <div class="listing">
            <h2 class="listing__title">Listing: {{ listing.title  }}</h2>
            <div class="listing__nav">
                <a class="listing__nav-item watchlist" href="#">Watchlist</a>
                {% if user.username == listing.creator.username %}
                    <a class="listing__nav-item close-auction" href="#">Close Auction</a>
                    <a class="listing__nav-item delete-auction" href="{% url 'delete-auction' listing_id=listing.id %}">Delete Auction</a>
                {% endif %}
            </div>
            <div class="listing__image">
                <img src="{{ listing.image_url }}" alt="Listing Image">
            </div>
            <div class="listing__creator">Created by Samuel</div>

            <form class="listing__bids" action="{% url 'add_bid' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                <h3>${{ listing.bid.bid|floatformat:'2' }}</h3>
                <div class="listing__bid-author">Placed by {{ listing.bid.author.username }}</div>
                <div class="listing__bids-bid">
                    <div class="listing__bids-info">{{ listing.bid_count }} bid(s) so far.</div>
                    <input class="listing__bids-bid" type="text" name="bid" placeholder="Bid">
                    {% if message %}
                        <div>{{ message }}</div>
                    {% endif %}
                </div>
                <input type="submit" class="listing__bids-submit" value="Place Bid"></input>
            </form>

            <div class="listing__details">
                <h4 class="listing__details-header">Details</h4>
                <ul class="listing__details-ul">
                    <li>Listed by: {{ listing.creator.username }}</li>
                    <li>Category: {{ listing.category }}</li>
                </ul>
            </div>

            <div>
                <br> {{ bid }} 
            </div>
        </div>
       
    {% else %}

        Sign in to see Listings details

    {% endif %}
{% endblock %}