{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="specific-email">
            <!--<div class="email-specific">
            <div class="email-specific__meta">
                <div class="meta__from">
                    <div class="bold">From: </div>
                    <div>foo@example.com</div>
                </div>
                <div class="meta__to">
                    <div class="bold">To: </div>
                    <div>samuel@example.com</div>
                </div>
                <div class="meta__subject">
                    <div class="bold">Subject: </div>
                    <div>Hello</div>
                </div>
                <div class="meta__timestamp">
                    <div class="bold">Timestamp: </div>
                    <div>MAr 8 2020, 5:56 PM</div>
                </div>
                <button class="meta__reply"></button>
                <hr>
            </div>
            <div class="email-specific__body">
                body
            </div>
        </div>-->
    </div>

    <div id="emails-view">
    <!--<div class="email-box">
            <div class="email-box__left-side">
                <div class="email-box__sender">baz@example.com</div>
                <div class="email-box__subject">Meeting next week</div>
            </div>
            <div class="email-box__timestamp">Mar 8 2020, 5:57 PM</div>
        </div>-->
    </div>

    <div id="compose-view">
        <h3 id="compose-title">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}