{% extends "network/layout.html" %}

{% block body %}

    
    {% if user.is_authenticated %}
        <!-- ------------------------------------- -->
        <!-- New Posts -->
        <!-- <form action="#" class="card-container">
            <div class="form-group">
                <h2>New Post</h2>
                <textarea name="newPost" class="form-control" id="newPostText" cols="30" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form> -->

        <!-- ------------------------------------- -->
        <!-- User Posts -->
        <!-- {% for post in user_post %}]
            <div>
                {{ post }}
                <br>
            </div>
        {% endfor %} -->

    {% endif %}

    

{% endblock %}