{% for post in posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'user_profile' post.author.id %}" style="color: black">
                <Strong>{{ post.author }}</Strong>
            </a>
        </h5>
        <a href="#" >Edit</a>
        <div class="card">
            <p class="card-body">{{ post.content }}</p>
        </div>
        <p class="card-text">{{ post.posted_date }}</p>
        <p class="card-text">Likes</p>
        <p class="card-text">Comments</p>
    </div>
</div>
{% endfor %}