
{% for post in posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'user_profile' post.author.id %}" style="color: black">
                <Strong>{{ post.author }}</Strong>
            </a>
        </h5>
        <a href="{% url 'edit_post' post.id %}">Edit</a>
        <div class="card">
            <p class="card-body">{{ post.content }}</p>
        </div>
        <p class="card-text">{{ post.posted_date }}</p>
        <nav aria-label="breadcrumb" style="width: 10rem">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Like</a></li>
              <li class="breadcrumb-item active" aria-current="page">0</li>
            </ol>
          </nav>
        <p class="card-text">Comments</p>
    </div>
</div>
{% empty %}
    No Post available
{% endfor %}