{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block search %}
    <form action="{% url 'encyclopedia:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- <input class="search" type="text" name="q" placeholder="Search Encyclopedia"> -->
    </form>
{% endblock %}


{% block body %}
    <h1>Create New Page</h1>

    <!-- <ul>
        {% for entry in entries %}
            <li><a href="{{entry}}">{{ entry }}</a></li>
        {% endfor %}
    </ul> -->

{% endblock %}