{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block search %}
    <form action="{% url 'encyclopedia:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        
    </form>
{% endblock %}


{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'encyclopedia:createNewPage' %}" method="post">
        {% csrf_token %}
        {{ content }}
        <input type="submit" name="savePage" placeholder="Save Page">
    </form>


{% endblock %}