{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block search %}
    <form action="{% url 'encyclopedia:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        
    </form>
{% endblock %}


{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'encyclopedia:createNewPage' %}" method="post">
        {% csrf_token %}
        <div class="form-block">
            {{ content }}
            <input type="submit" class="btn" name="savePage" value="Save Page">
        </div>
    </form>


{% endblock %}