{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block search %}
    <form action="{% url 'encyclopedia:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- <input class="search" type="text" name="q" placeholder="Search Encyclopedia"> -->
    </form>
{% endblock %}


{% block body %}
    <h1>Search result for {{ q }}..</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{{entry}}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}