{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} - page
{% endblock %}

{% block search %}
    <form action="{% url 'encyclopedia:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- <input class="search" type="text" name="q" placeholder="Search Encyclopedia"> -->
    </form>
{% endblock %}

{% block body %}
        {{ page|safe }}
        <a class="btn short-btn" href="{% url 'encyclopedia:editPage' name=title %}">Edit Page</a>
{% endblock %}